.card {
    /* background-color: rgb(161, 133, 133); */
    background-color: #F9F9F9;
    font-size: 1.7rem;
    padding: 1rem;
    /* color: white; */
    color: black;
    margin-bottom: 2rem;
    letter-spacing: 0.05rem;
    line-height: 2.2rem;
    border: 1px solid rgb(246, 243, 243);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* min-width: 0; */
    /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,.15); */
    /* box-shadow: 1px 3px 10px 1px rgba(201, 191, 191, 0.4); */
}

.card img {
    /* display: inline-block; */
    /* overflow: hidden; */
    max-width: 30%;
}

@media (max-width: 349px) {
    .card > * {
        padding: 0;
        margin: 0;
    }
}

.card .que-statement {
    padding: 1rem 0rem 0.5rem 0;
}

.option-tag {
    display: inline-block;
    /* background-color: antiquewhite; */
    background-color: rgba(234, 236, 237, 0.865);
    color: black;
    /* color: white; */
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0.5rem;
    /* margin-right: 0.5rem; */
}

.options:hover {
    cursor: pointer;
}

#selected {
    /* color: black; */
    /* color: #ffffb3; */
    /* color: #d91d1d; */
    color: #ed0000;
    /* color: rgb(28, 28, 240); */
}

.reveal {
    color: green !important;
    /* color: #7ce960 !important; */
}

.card-button {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

@media (max-width: 349px) {
    .card-button {
        display: flex;
        justify-content: center;
    }
}

.card-button button {
    padding: 0.9rem 1.2rem;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 2px;
    /* background-color: rgb(237, 83, 83);
    color: white;
    border: none; */
    /* background-color: rgb(79, 128, 0); */
    /* color: white; */
}

.clear-btn:hover {
    background-color: rgb(227 47 47);
}

.reveal-btn:hover {
    background-color: rgb(47, 148, 47);
}

.clear-btn:active {
    background-color: rgb(236, 66, 66);;
}

.reveal-btn:active {
    background-color: rgb(78, 177, 78);
}

.clear-btn {
    background-color: rgb(236, 66, 66);
    color: white;
    /* box-shadow: 3px 3px 6px 0px rgb(219 40 40 / 40%); */
    /* border: 2px solid rgb(164, 104, 104); */
    border: none;
    margin-left: 0.3rem !important;
}

.reveal-btn {
    background-color: rgb(78, 177, 78);
    /* background-color: #85bf31; */
    color: white;
    border: none;
    /* box-shadow: 3px 3px 6px 0px rgb(78, 177, 78); */
}

.card-button button:hover {
    cursor: pointer;
}

.question-number {
    margin-bottom: 1rem;
}

.question {
    margin: 0;
}

.final-btn {
    margin-top: 2rem;
    /* margin-bottom: 3rem; */
    /* margin-left: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 349px) {
    .final-btn-wrapper {
        display: flex;
    }
}

.final-btn-wrapper button {
    display: inline-block;
    border:none;
    background-color:rgb(22 91 233) ;
    /* padding: 1.1rem 5rem; */
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    border-radius: 2px;
    color: white;
}

cursor: pointer;
.final-btn-wrapper button:hover {
}

.score-wrapper {
    margin-bottom: 1rem;
    align-self: 10rem;
}

.reset {
    background-color: rgb(237, 30, 30) !important;
    color: white !important;
    /* padding: 1.1rem 2.5rem !important; */
    /* margin-left: 2rem !important; */
}

.reset:hover {
    background-color: rgb(250, 13, 13) !important;
}

.submit:hover {
    background-color: blue;
}

.score {
    margin: 0;
    /* margin-top: 4rem; */
    /* text-align: center; */
    /* margin: auto; */
    /* margin-left: -10px; */
}