.card {
    background-color: rgb(194, 45, 45);
    font-size: 1.6rem;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}

.card .que-statement {
    padding: 1rem 0rem;
}

.option-tag {
    display: inline-block;
    background-color: antiquewhite;
    color: black;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem;
    /* margin-right: 0.5rem; */
}

.options:hover {
    cursor: pointer;
}

#selected {
    color: black;
}

.reveal {
    color: green !important;
}