.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  overflow-x: hidden;
  height: 100vh;
}

.bodyContainer {
  display: flex;
  gap: 16px;
  padding: 0 40px;
}

.rightContainer {
  flex: 1;
}

.moveToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 50px;
  font-size: 60px;
  cursor: pointer;
  background-clip: padding-box;
  opacity: 1;
}
