.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: brown;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  position: fixed;
  top:0;
  left: 0;
  /* right: 0; */
  width: 100vw;
  overflow: hidden;
  /* right: 100vw; */
  /* right:0; */
  /* left:0; */
  z-index: 999999999;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .brand {
    margin-left: 0 !important;
  }
}

.brand {
    margin-left: 8rem;
}

.brand h1 a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
  display: flex;
  font-size: 1.7rem;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 8rem;
}

@media (max-width: 768px) {
  .nav-links {
    margin-left: 0 !important;
    justify-content: space-center;
  }

  .nav-links li:first-child {
    margin-left: 0;
  }
}

@media (max-width: 403px) {
  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-links li {
    margin-left: 0 !important;
  }
}

.nav-links li {
  list-style: none;
  margin-left: 5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}