.sidebar {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* height: 100vh; */
    flex-shrink: 1;
    font-size: 1.6rem;
    background-color: #F9F9F9;
    /* line-height: 4rem; */
    letter-spacing: 0.05rem;
    /* box-shadow: 1px 3px 10px 1px rgba(201, 191, 191, 0.4); */
}

h2 {
    font-size: 1.8rem;
    padding: 0.9rem 3rem;
    border-bottom: 1px solid #cdc7c7;
}

.side-nav-items {
    margin: 0;
    padding: 0;
}

.side-nav-items li {
    list-style: none;
    /* padding: 1rem; */
    border-bottom: 1px solid #cdc7c7;
}

.side-nav-items li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0 1.2rem;
    padding: 0.9rem 4rem;
}